
  :root {
    --grid-rows: 1;
    --gridColumns: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    background-color: bisque;
  }
  
  .grid-item {
    background-color: black;
  }

